subscription_id                 = "00000000-0000-0000-0000-000000000000"
location                        = "japaneast"
github_organization_id          = "00000000"
github_repository_id            = "0000000000"
tfstate_resource_group_name     = "rg-enterprise-workflow-tfstate"
tfstate_storage_account_name    = "steworkflowtfstateunique"
tfstate_container_name          = "tfstate"
acr_resource_group_name         = "rg-enterprise-workflow-shared"
acr_name                        = "acrenterpriseworkflowunique"
staging_resource_group_name     = "rg-enterprise-workflow-staging"
production_resource_group_name  = "rg-enterprise-workflow-production"
